body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A1CDD0;
}
.left-side-content
{
    background-color: #A1CDD0;
    border-radius: 15px 0px  0px 15px;

}
.left-side-content h6{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}
.language h6
{
   text-align: end;
   color: #c0baba;
   font-weight: 700;
   margin-top: 30px;
}
.Create-acc h4{
    font-weight: 700;
    margin-left: 30px;
}
.sign-up-with
{
    display: flex;
    justify-content: center;
}
.with-google
{
    border: 2px solid rgb(238, 236, 236);
    border-radius: 5px;
    margin:  20px 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or-cls h6
{
    text-align: center;
    margin-top: 20px;
    color: rgb(126, 121, 121);
    font-weight: 700px;
}
.input-classes
{
    border-top:none ;
    border-left:none ;
    border-right:none ;
}
.right-side-content
{
    margin: 50px;
}
.create-btn 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.create-btn .btn
{
    background-color: #428c94;
    width: 100%;
    color: #fff;
}
.sign-up-section
{
    border: 5px solid #fff;
    /* background-color: #fff; */
    border-radius: 18px;
}
.last-line
{
    color: rgb(126, 121, 121);
    margin-top: 15px;
}
.last-line span{
    color: #428c94; font-weight: bolder;
}